<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spring.boot.kotlin.example.db.mapper.CarMapper">

    <resultMap id="carResult" type="Car">
        <id property="id_car" column="id_car"/>
        <result property="brand" column="brand"/>
        <result property="model" column="model"/>
        <result property="color" column="color"/>
        <result property="horsepower" column="horsepower"/>
        <result property="price" column="price"/>
        <result property="mileage" column="mileage"/>
        <result property="picture" column="picture"/>
        <association property="user" javaType="User" resultMap="userResult"/>
    </resultMap>

    <resultMap id="userResult" type="User">
        <id property="id_user" column="id_user"/>
        <result property="firstName" column="first_name"/>
        <result property="lastName" column="last_name"/>
        <result property="email" column="email"/>
        <result property="password" column="password"/>
        <result property="birthday" column="birthday"/>
        <result property="photo" column="photo"/>
    </resultMap>

    <select id="findAll" resultMap="carResult">
        SELECT
            users.id_user, first_name, last_name, email, password, birthday, photo,
            car.id_car, brand, model, color, horsepower, price, mileage, picture
        FROM car
        LEFT JOIN users_car on car.id_car = users_car.id_car
        LEFT JOIN users users on users_car.id_user = users.id_user
    </select>

    <select id="findById" parameterType="java.lang.Long" resultMap="carResult">
        SELECT
            users.id_user, first_name, last_name, email, password, birthday, photo,
            car.id_car, brand, model, color, horsepower, price, mileage, picture
        FROM car
        LEFT JOIN users_car on car.id_car = users_car.id_car
        LEFT JOIN users users on users_car.id_user = users.id_user
        WHERE car.id_car = #{id}
    </select>

    <select id="findFreeCars" resultType="Car">
        SELECT * FROM car
        EXCEPT
        SELECT car.id_car, car.brand, car.model, car.color, car.horsepower, car.price, car.mileage, car.picture
        FROM car INNER JOIN users_car ON car.id_car = users_car.id_car
    </select>

    <insert id="create" parameterType="Car" useGeneratedKeys="true" keyProperty="id_car" keyColumn="id_car">
        INSERT INTO car (brand, model, color, horsepower, price, mileage, picture) VALUES (#{brand}, #{model}, #{color}, #{horsepower}, #{price}, #{mileage}, #{picture})
    </insert>

    <update id="update" parameterType="Car">
        UPDATE car
        <set>
            <if test="brand != null">brand=#{brand},</if>
            <if test="model != null">model=#{model},</if>
            <if test="color != null">color=#{color},</if>
            <if test="horsepower != null">horsepower=#{horsepower},</if>
            <if test="price != null">price=#{price},</if>
            <if test="mileage != null">mileage=#{mileage},</if>
            <if test="picture != null">picture=#{picture}</if>
        </set>
        WHERE id_car = #{id_car}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM users_car WHERE id_car = #{id};
        DELETE FROM car WHERE id_car = #{id};
    </delete>

</mapper>